* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(249, 162, 127);
}
h3{
     margin: 40px auto;
     text-align: center;
     font-size: 30px;
     color: ghostwhite;
}
form {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(254, 235, 214);
    border-radius: 8px;
    text-align: center;
}
input{
    padding:15px;
    font-size: 15px;
    color: rgb(244, 109, 52);
}

button {
    background: green;
    color: white;
    border: none;
    padding: 13px;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    font-size: 15px;
    

}
button:hover{
    background: rgb(32, 163, 32);
}

#result{
color:rgb(243, 98, 36); ;
}