*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(250, 223, 207); */
    background: linear-gradient(140deg,#a2a9d5,#e8f5c9);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
   
    margin-left: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
}
form{

    text-align: center;
    border-radius: 10px;
    padding: 50px;
    height: auto;
    width: 400px;
    background-color:ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
input{
    color: green;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input:focus{
     background: linear-gradient(140deg,#f9ffeb,#e5e9fe);

    border: 1px solid green; 
    color: green;   
    
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    border: none;
    font-size: 15px;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}

#status{
    color: green;
    padding:30px;
    font-weight: bold;
    font-size: 20px;
}


@media (max-width: 1024px){
    .container{
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }
}

/* Mobile view */
@media (max-width: 600px){
    .container{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
    }

    form{
        width: 100%;
        max-width: 360px;
        padding: 30px 20px;
    }

    input{
        width: 100%;
        padding: 15px;
    }

    button{
        width: 100%;
        padding: 12px;
    }

    #status{
        font-size: 16px;
        padding: 20px;
        text-align: center;
    }
}